<!-- Navigation -->
{% if app.user %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand yellow-text" href="{{ path('smile_platform_homepage') }}"><span class="yellow-text"><img class="logo" src="/images/logo.png" alt="SMILE"></span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="" data-toggle="modal" data-target="#newPostModal"><span class="yellow-text">+ Post</span></a>
                    </li>
                    <li>
                        <a href="{{ path('smile_platform_profile', {'userId': app.user.getId }) }}"><span class="yellow-text">My profile</span></a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}" class="#f2c716"><span class="yellow-text">Logout</span></a>
                    </li>
                    <li>
                        <a href="{{ path('smile_platform_contactUs') }}" class="#f2c716"><span class="yellow-text">Contact us</span></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="loginModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">+ New Post</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('SmilePlatformBundle:Post:addNew', {'request': app.request})) }}
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <button  data-toggle="modal" data-target="#newPostModal" class="btn btn-primary btn-circle smartphonePostButton front-z-index" >
        <strong class="yellow-text ">+ POST</strong>
    </button>


{% else %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand yellow-text" href="{{ path('smile_platform_homepage') }}"><span class="yellow-text"><img class="logo" src="/images/logo.png" alt="SMILE"></span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#loginModal" class="yellow-text"><span class="yellow-text">Connect/Log in</span></a>
                    </li>
                    {#<li>
                        <a href="#" data-toggle="modal" data-target="#registerModal" class="yellow-text"><span class="yellow-text">Register</span></a>
                    </li>#}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sign up/Login</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group text-center" >
                        <a class="btn btn-register-facebook" href="#" onclick="fb_login();">Connect with Facebook</a>
                    </div>
                    <H3 class="text-center">OR</H3>
                    <div class="row">
                        <div class="col-md-6" style="border-right: 1px solid lightgray;">
                            <h4>New on Smile ? Sign up !</h4>
                            {{ render(controller("SmileUserBundle:Registration:register", {'originalRequest': app.request})) }}
                        </div>
                        <div class="col-md-6">
                            <h4>Already have an account ? Log in !</h4>
                            {{ render(controller('FOSUserBundle:Security:login')) }}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Register</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group text-center">
                        <a class="btn btn-register-facebook" href="#" onclick="fb_login();">Connect with Facebook</a>
                    </div>

    {#{{ render(controller("SmileUserBundle:Registration:register", {'originalRequest': app.request})) }}#}
                    <div class="clearfix"></div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <div class="clear-fix"></div>
                </div>
                <div class="clear-fix"></div>
            </div>

        </div>
    </div>
{% endif %}