{% for post in posts %}
    {% if loop.index == 4 %}
    <div class="hidden-top-ten" hidden>
    {% endif %}
    <div class="spacer-5px">
        {% if post.type!='event_picture' %}
            <a href="{{ path('smile_platform_post', {postId: post.id}) }}">
        {% else %}
            <a href="{{ path('smile_platform_event', {eventId: post.event.id}) }}">
        {% endif %}
            <div class="row">
                <div class="col-md-6">
                    {% if post.type=='video_youtube' %}
                        <img class="img-responsive top-10" src="http://smilepaintball.com/{{ post.getThumbnails() }}">
                    {% endif %}
                    {% if post.type=='video_facebook' %}
                        <img class="img-responsive  top-10" src="http://smilepaintball.com/{{ post.getThumbnails() }}">
                    {% endif %}
                    {% if post.type=='picture_facebook' %}
                        <img class="img-responsive top-10" src="http://smilepaintball.com/{{ post.getThumbnails() }}">
                    {% endif %}
                    {% if post.type=='picture_externalUrl' %}
                        <img class="img-responsive top-10" src="{{ post.url }}" alt="">
                    {% endif %}
                    {% if post.type=='picture_local' %}
                        <img class="img-responsive top-10" src="http://smilepaintball.com/{{post.picture.uploadDir}}/{{post.picture.url}}" alt="">
                    {% endif %}
                    {% if post.type=='event_picture' %}
                        <img class="img-responsive top-10" src="http://smilepaintball.com/{{post.event.picture.uploadDir}}/{{post.event.picture.url}}" alt="">
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <H4><strong>{{ post.title|length > 15 ? post.title|slice(0, 12) ~ '...' : post.title  }}</strong></H4>
                    {{ post.views }} views<br/>
                    {{ post.upvotes-post.downvotes }} points
                </div>
            </div>
        </a>
    </div>
{% endfor %}
    </div>
    <div class="text-center">
        <a href="" class="ignore-click"><span class="btn-see-more-top-10">See more <i class="fa fa-caret-down" aria-hidden="true"></i></span></a>
    </div>
