{{ form_start(formEditProfile, {'attr': {'class': 'formEditProfile'}}) }}
    {{ form_errors(formEditProfile) }}
        <div class="form-group text-center">
            {{ form_widget(formEditProfile.firstName, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Firstname', 'maxlength': '255'}}) }}
        </div>
        <div class="form-group text-center">
            {{ form_widget(formEditProfile.lastName, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Lastname', 'maxlength': '255'}}) }}
        </div>
        <div class="form-group text-center">
            {{ form_label(formEditProfile.picture,"Profile picture:", {'label_attr': {'class': 'pull-left'}}) }}<br/>
            <input type="hidden" name="MAX_FILE_SIZE" value="3000000" />
            {{ form_widget(formEditProfile.picture.file, {'attr': {'class': '', 'accept':'image/*'}}) }}
        </div>

        <div class="form-group">
            {{ form_widget(formEditProfile.save, {'attr': {'class': 'btn btn-lg btn-primary pull-right','onclick': 'submitEditProfile()'}}) }}
        </div>

    {{ form_rest(formEditProfile) }}
{{ form_end(formEditProfile) }}