{% extends "SmilePlatformBundle::Default/layout.html.twig" %}

{% block pageHeader %}

{% endblock %}
{% block postYourFun %}
    <div class="row">
        <div class="container">
            <div class="col-md-9">
                <div class="form-group">
                    {% if app.user %}
                        {{  render(controller('SmilePlatformBundle:Event:addNew', {'request': app.request})) }}
                    {% else %}

                        <H2><strong>+ CREATE an event</strong></H2>
                        <div class="form-group postOpenSignIn">
                            <input class="form-control input-lg postOpenSignIn" id="postTitleOpenSignIn" placeholder="Event Title">
                        </div>
                        <div class="form-group postOpenSignIn">
                            <div class="pull-right">
                                <button class="btn btn-primary postOpenSignIn"><strong>CREATE</strong></button>
                            </div>
                        </div>

                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block leftCollumn %}
    {% set month = '' %}
    {% set year = '' %}
    {% for event in events %}
        {% if event.startingDate|date('month')==month  and event.startingDate|date('Y')==year %}

        {% else %}
            {% set month = event.startingDate|date('M') %}
            {% set year = event.startingDate|date('Y') %}
            <div class="row">
                <H2><strong>{{ month }} {{ year }}</strong></H2>
            </div>

        {% endif %}
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('smile_platform_event', {'eventId': event.id}) }}"><img src="/{{event.picture.getUploadDir()}}/{{event.picture.url}}" class="img-responsive"></a>
            </div>
            <div class="col-md-8">
                <a href="{{ path('smile_platform_event', {'eventId': event.id}) }}">
                    <strong>{{ event.name }}</strong>
                    <div>
                        Date: {{ event.startingDate | date('d M Y') }}
                    </div>
                    <div>
                        Country: {{ event.getFullCountry }}
                    </div>
                    {% if event.prix %}
                        <div>
                            Price: {{ event.prix }}
                        </div>
                    {% endif %}
                    <div>
                        Team coming: {{ event.teamComing|length }}
                    </div>
                    <div>
                        Player coming: {{ event.userComing|length }}
                    </div>
                </a>
                <div>
                    <button class="btn btn-primary" onclick="goToEventAsMe({{ event.id }})"><span id="goingToEvent_{{ event.id }}" hidden><i class="fa fa-spin fa-spinner"></i></span> Going </button><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">As <i class="fa fa-caret-down" aria-hidden="true"></i></button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuFollowAs">
                        <li class="non-clickable-dropdown">
                            Select a team:
                        </li>
                        {% for team in app.user.teams %}
                            <li>
                                <a href="" onclick="goToEventAsTeam({{ event.id }}, {{ team.id }})">
                                    {% if (team.teamPicture) %}
                                        <span class=""><img src="/{{team.teamPicture.uploadDir}}/{{team.teamPicture.url}}" class="img-responsive img-select-store-item-form-drop-down full-width" id="storePic_{{ team.getId() }}"></span>
                                    {% else %}
                                        <span class=""><img src="{{ asset('images/smileyTop.png') }}" class="img-responsive img-select-store-item-form-drop-down full-width" id="storePic_{{ team.getId() }}"></span>
                                    {% endif %}
                                    <span class="select-store-store-name">{{ team.getName() }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <hr>


    {% endfor %}
{% endblock %}

{% block rightCollumn %}






{% endblock %}