{% extends "SmilePlatformBundle::Default/layout.html.twig" %}

{% block pageHeader %}

{% endblock %}
{% block postYourFun %}

{% endblock %}

{% block leftCollumn %}
    <h1>{{ event.name }}</h1>
    <hr>
    <div class="row">
        {{ event.description }}
    </div>
    {% if event.teamComing|length>=0 %}
        <hr>
        <div class="row">
            <h3>Teams coming ({{ event.teamComing|length }})</h3>
            {% for team in event.teamComing %}
                <a href="{{ path('smile_platform_team', {'id': team.id}) }}">
                    <div class="userAndTeamForEventPage col-md-1  small-tab-profile">
                        <div class="text-center" >
                        <span  class="pull-left">
                            {% if team.teamPicture %}
                                <img class="img-responsive " src="{{team.teamPicture.uploadDir}}/{{team.teamPicture.url}}" alt="{{ team.name }}">
                            {% endif %}
                        </span>
                            <span>
                            {{ team.name }}
                        </span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
    {% if event.teamComing|length>=0 %}
        <hr>
        <div class="row">
            <h3>Players coming ({{ event.userComing|length }})</h3>
            {% for user in event.userComing %}
                <a href="{{ path('smile_platform_profile', {'userId': user.id}) }}">
                    <div class="userAndTeamForEventPage col-md-1  small-tab-profile">
                        <div class="text-center" >
                            <span  class="pull-left">
                                {% if user.picture != null %}
                                    <img class="img-responsive " src="{{user.picture.uploadDir}}/{{user.picture.url}}" alt="{{ user.username }}">
                                {% endif %}
                            </span>
                            <span>
                                {{ user.getEasyName }}
                            </span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block rightCollumn %}
    <div class="row">
        <img src="/{{event.picture.getUploadDir()}}/{{event.picture.url}}" class="img-responsive">
    </div>
    <div class="row">
        <strong>{{ event.name }}</strong>
        <div>
            Start Date: {{ event.startingDate | date('d M Y') }}
        </div>
        <div>
            End Date: {{ event.endDate | date('d M Y') }}
        </div>
        <div>
            Country: {{ event.getFullCountry }}
        </div>
        {% if event.prix %}
            <div>
                Price: {{ event.prix }}
            </div>
        {% endif %}
        <div>
            Team coming: {{ event.teamComing|length }}
        </div>
        <div>
            Player coming: {{ event.userComing|length }}
        </div>
    </div>
    <div class="row">
        {% if app.user %}
            <button class="btn btn-primary" onclick="goToEventAsMe({{ event.id }})"><span id="goingToEvent_{{ event.id }}" hidden><i class="fa fa-spin fa-spinner"></i></span> Going </button><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">As <i class="fa fa-caret-down" aria-hidden="true"></i></button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuFollowAs">
                <li class="non-clickable-dropdown">
                    Select a team:
                </li>
                {% for team in app.user.teams %}
                    <li>
                        <a href="" onclick="goToEventAsTeam({{ event.id }}, {{ team.id }})">
                            {% if (team.teamPicture) %}
                                <span class=""><img src="/{{team.teamPicture.uploadDir}}/{{team.teamPicture.url}}" class="img-responsive img-select-store-item-form-drop-down full-width" id="storePic_{{ team.getId() }}"></span>
                            {% else %}
                                <span class=""><img src="{{ asset('images/smileyTop.png') }}" class="img-responsive img-select-store-item-form-drop-down full-width" id="storePic_{{ team.getId() }}"></span>
                            {% endif %}
                            <span class="select-store-store-name">{{ team.getName() }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% if event.userComing.contains(app.user) %}
                <div>
                    <button class="notgoingToEventAsMe_btn_{{ event.id }} btn " onclick="dontComeAsMe({{ event.id }})"><span class="notgoingToEventAsMe_{{ event.id }}" hidden><i class="fa fa-spin fa-spinner"></i></span> Not going </button><button class="btn" id="notGoingAsCaret">As <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </div>
            {% else %}
                <button class="btn" id="notGoingButNotMeAsCaret">not going as <i class="fa fa-caret-down" aria-hidden="true"></i></button>
            {% endif %}
            {% for team in app.user.teams %}
                {% if event.teamComing.contains(team) %}
                    <div class="notGoingAsTeamBtns" hidden>
                        <button class="notgoingToEventAsTeam_btn_{{ event.id }}_{{ team.id }} btn " onclick="dontComeAsTeam({{ event.id }}, {{ team.id }})"><span class="notgoingToEventAsTeam_{{ event.id }}_{{ team.id }}" hidden><i class="fa fa-spin fa-spinner"></i></span> Not going as {{ team.name }} </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <span id="dontComeAsMe" hidden>{{ path('smile_api_event_dontComeAsMe_url') }}</span>
    <span id="dontComeAsTeam" hidden>{{ path('smile_api_event_dontComeAsTeam_url') }}</span>




{% endblock %}