<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="google-signin-client_id" content="469652032975-n6p9uq8411l3jphbnup0njd48hft7pgq.apps.googleusercontent.com">

    {% block openGraph %}
        <meta property="og:title" content="Smile Paintball Network" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://smilepaintball.com/" />
        <meta property="og:image" content="http://smilepaintball.com/images/ogpic.jpeg" />
        <meta property="og:description" content="Content posted on SmilePaintball.com." />
    {% endblock %}
    <meta property="fb:app_id" content="1274219895951492">
    <meta property="og:site_name" content="Watch, rate and share fun! on smilepaintball.com :)" />

    <title>Smile Paintball Network</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Font awsome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">
    {% stylesheets filter='cssrewrite'
    '@SmilePlatformBundle/public/css/style.css'

    %}

    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>


</head>

<body >
<!-- La div suivante doit etre placée avant toutes les autres inclusions facebook -->
<div id="facebookContainer" hidden>

</div>

<!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
    window.__insp = window.__insp || [];
    __insp.push(['wid', 1305717944]);
    (function() {
        function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
        setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
    })();
</script>
<!-- End Inspectlet Embed Code -->

<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        //alert('test');
        FB.init({
            appId      : '1274219895951492',
            xfbml      : true,
            version    : 'v2.7'
        });

            //alert('test');
            console.log('test');
            getSmileGroup();

    };
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function fb_login() {
        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                // connected
                //alert('Already connected, redirect to login page to create token.');
                document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";

            } else {
                // not_authorized
                FB.login(function(response) {
                    if (response.authResponse) {
                        document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                    } else {
                        alert('Cancelled.');
                    }
                }, {scope: 'email'});
            }
        });
    }

    function getSmileGroup(){

        FB.api(
            "/1790079874650463/members?summary=true",
            function (response) {
                console.log('group:');
                console.log(response);
                if (response && !response.error) {

                }
            }
        );
    }

</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64911145-1', 'auto');
    ga('send', 'pageview');

</script>
<script>var __v='barc-user-sewelseb';</script>
<script type="text/javascript">
    (function(d) {
        var b = d.createElement("script"); b.type = "text/javascript"; b.async = true;
        b.src = ("https:" == d.location.protocol ? "https" : "http") + "://barc.com/js/libs/barc/barc.js";
        var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(b, s);
    })(document);
</script>

{% include 'SmilePlatformBundle::Default/Blocs/navbar.html.twig' %}
{{  render(controller('SmilePlatformBundle:Default:termsAndAgreements', {'request': app.request})) }}

<!-- Page Content -->
<div class="container" >

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            {% block pageHeader %}
                {% include 'SmilePlatformBundle::Default/Blocs/banner.html.twig'%}
                <div class="pull-right">
                    {{  render(controller('SmilePlatformBundle:Post:numberOfViews')) }}


                    <!--Smile's facebook page:
                    <div class="fb-like" data-href="https://www.facebook.com/smilepaintball/?fref=ts" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                    -->
                </div>

            {% endblock %}
        </div>
    </div>
    <!-- /.row -->
    {% block content %}
    <div class="row">
        <div class="col-md-9" id="postsNews" ng-app="smile">
            {% block postYourFun %}
                <div class="row">
                    <div class="container">
                        <div class="col-md-9">
                            <div class="form-group">
                                {% if app.user %}
                                    <ul class="nav nav-tabs nav-justified nav-tabs-spacer">
                                        <li role="presentation" id="show-create-post-form" class="active"><a href="#"><H2><strong>+ POST<span class="postSmallText"> your Fun</span></strong></H2></a></li>
                                        <li role="presentation" id="show-create-event-form" class=""><a href="#"><H2><strong>+ <span class="eventSmallText" >create an </span>EVENT</strong></H2></a></li>
                                        <li role="presentation" id="show-create-team-form" class=""><a href="#"><H2><strong>+ <span class="teamSmallText" >create your </span>TEAM</strong></H2></a></li>

                                    </ul>
                                    <div class="newPostForm">
                                        {{  render(controller('SmilePlatformBundle:Post:addNewInPage')) }}
                                    </div>
                                    <div class="newEventForm" hidden>
                                        {{  render(controller('SmilePlatformBundle:Event:addNew', {request: app.request})) }}
                                    </div>
                                    <div class="newTeamForm" hidden>
                                        {{  render(controller('SmilePlatformBundle:Team:createTeam', {request: app.request})) }}
                                    </div>

                                {% else %}

                                    <H2><strong>+ POST your Fun</strong></H2>
                                    <div class="form-group postOpenSignIn">
                                        <input class="form-control input-lg postOpenSignIn" id="postTitleOpenSignIn" placeholder="Post Title">
                                    </div>
                                    <div class="form-group postOpenSignIn">
                                        <div class="pull-right">
                                            <button class="btn btn-primary postOpenSignIn"><strong>POST</strong></button>
                                        </div>
                                    </div>

                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            {% endblock %}
            {% block leftCollumn %}

                {{ include ('SmilePlatformBundle:Default:Blocs/allPosts.html.twig') }}

            {% endblock %}
        </div>
        <div class="col-md-3 right-bar">
            {% block rightCollumn %}

                <div class="row">
                    <h3>Latest Smile Team video</h3>
                    <iframe  src="https://www.youtube.com/embed/ahEIa4VdGJY" frameborder="0" allowfullscreen></iframe>
                    <div class="text-center">
                        <a href="https://www.youtube.com/user/mrfiesta007">See more on Youtube</a>
                    </div>
                    <a href="https://www.facebook.com/groups/1790079874650463/"><button class="btn btn-register-facebook"><strong>Join our Facebook group</strong></button></a>


                    <!--<div class="fb-video" data-href="https://www.facebook.com/smilepaintball/videos/vb.1552858474930301/1812396948976451/?type=2&theater" data-width="700px" data-show-text="false"><blockquote cite="https://www.facebook.com/smilepaintball/videos/vl.674752066004423/1768534383362708/?type=1&theater" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/smilepaintball/videos/vl.674752066004423/1768534383362708/?type=1&theater"></a>
                        </blockquote></div>-->
                </div>
                <hr/>
                <div class="row row-top10">
                    <!-- top 10 -->
                    <h3>Top 10</h3>
                    {{ render(controller('SmilePlatformBundle:Post:topTen')) }}
                </div>
                <hr/>
                <div class="row">
                    <h3>Sponsors</h3>
                    <div class="col-md-3" >
                        <a href="http://www.tippmann.com/">
                            <img src="/images/sponsors/tippmann.png" width="100%">
                        </a>

                    </div>

                    <div class="col-md-3" >
                        <a href="http://gisportz.com/">
                            <img src="/images/sponsors/gisportz.png" width="100%">
                        </a>

                    </div>

                    <div class="col-md-3" >
                        <a href="http://gisportz.com/vforce-goggles.php">
                            <img src="/images/sponsors/vforce.png" width="100%">
                        </a>

                    </div>

                    <div class="col-md-3" >
                        <a href="http://www.redbull.com/be/fr">
                            <img src="/images/sponsors/redbull-com-logo.png" width="100%">
                        </a>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a href="http://www.kg-factory.fr/fr/">
                            <img src="/images/sponsors/kgfactory.png" width="100%">
                        </a>

                    </div>

                    <div class="col-md-3">
                        <a href="http://www.patch-werk.com/index.php/en/">
                            <img src="/images/sponsors/patch-werk.png" width="100%">
                        </a>

                    </div>

                    <div class="col-md-3">
                        <a href="http://www.enolagaye.com">
                            <img src="/images/sponsors/e-g.png" width="100%">
                        </a>

                    </div>

                    <div class="col-md-3">
                        <a href="http://maxxloader.com/">
                            <img src="/images/sponsors/maxxloader.png" width="100%">
                        </a>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a href="http://shop.customgunrails.com/">
                            <img src="/images/sponsors/cgr.png" width="100%">
                        </a>

                    </div>

                    <div class="col-md-3">
                        <a href="http://www.anthraxpaintball.com/">
                            <img src="/images/sponsors/anthrax.png" width="100%">
                        </a>

                    </div>

                    <div class="col-md-3">
                        <a href="http://www.techtpaintball.com/">
                            <img src="/images/sponsors/techt.png" width="100%">
                        </a>

                    </div>

                </div>


            {% endblock %}
        </div>
    </div>
    <!-- /.row -->
    {% endblock %}

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Smile Paintball Network 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->

<span id="addViewUrl" hidden>{{ path('smile_api_post_addView_url') }}</span>
<span id="goToAnEventAsMeUrl" hidden>{{ path('smile_api_event_addUserComing_url') }}</span>
<span id="goToAnEventAsTeamUrl" hidden>{{ path('smile_api_event_addTeamComing_url') }}</span>


{% javascripts
'@SmilePlatformBundle/public/js/waypoint.js' filter='cssrewrite'
'@SmilePlatformBundle/public/js/noframework.js' filter='cssrewrite'
'@SmilePlatformBundle/public/js/context.js' filter='cssrewrite'
'@SmilePlatformBundle/public/js/group.js' filter='cssrewrite'
'@SmilePlatformBundle/public/js/Angular/app.js' filter='cssrewrite'
'@SmilePlatformBundle/public/js/Angular/Controllers/allPostsCtrl.js' filter='cssrewrite'
'@SmilePlatformBundle/public/js/jqwery.js' filter='cssrewrite'


%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}



<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>