{% extends "SmilePlatformBundle::Default/layout.html.twig" %}

{% block pageHeader %}

{% endblock %}

{% block leftCollumn %}
    <div class="row" >
        <h1>{{ post.title }}</h1>
      <span id="smileApiUpvoteUrl" hidden>{{ path ('smile_api_post_upvote_url') }}</span>
        <span id="smileApiDownvoteUrl" hidden>{{ path ('smile_api_post_downvote_url') }}</span>
        <div class="col-md-7">
            {% if post.type=='video_youtube' %}
                <iframe  width="100%"  height="300px" ng-src="{{ post.url }}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
            {% if post.type=='video_facebook' %}
                <div class="fb-video" data-href="{{ post.url }}" data-width="700px" data-show-text="false"><blockquote cite="{{ post.url }}" class="fb-xfbml-parse-ignore"><a href="{{ post.url }}"></a>
                    </blockquote></div>
            {% endif %}
            {% if post.type=='picture_facebook' %}
                <div data-width="460px" class="fb-post" data-href="{{ post.url }}"></div>
            {% endif %}
            {% if post.type=='picture_externalUrl' %}
                <img class="img-responsive" src="{{ post.url }}" alt="">
            {% endif %}
            {% if post.type=='picture_local' %}
                <img class="img-responsive" src="{{post.picture.uploadDir}}/{{post.picture.url}}" alt="">
            {% endif %}
        </div>
        <div class="col-md-5 ">


            <h4>{{ post.eventName }}</h4>
            <p>
            <div id="updownVote_{{post.id}}">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <a href="">
                        <span onclick="upvote({{ post.id }})"><img src="/images/upvote.png" class="vote-img"></span>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <a href="">
                        <span onclick="downvote({{ post.id }})"><img src="/images/downvote.png" class="vote-img"></span>
                    </a>
                </div>
            </div>
            <div id="upvoted_{{post.id}}" hidden>
                upvoted ;)
            </div>
            <div id="downvoted_{{post.id}}" hidden>
                downvoted :(
            </div>
            </p>

            <div>
                {{ post.upvotes-post.downvotes }} points, {{ post.comments }} comments
            </div>
            <div class="col-md-11">
                <span id="postCommentUrl" hidden>{{ path('smile_api_comment_addNew') }}</span>
                <strong>Comments:</strong>
                {% if app.user %}
                    <textarea class="form-control input-lg" placeholder="Your comment..." with="95%" id="textToUseToComment"></textarea><br/>
                    <div class="clearfix"></div>
                    <button class="btn btn-primary" onclick="sendComment({{ post.id }})">Send</button>
                {% endif %}

                <div id="sendedMessage" hidden>
                    Sent ;)
                </div>
                {% for comment in comments %}
                    <div class="row">
                        <a href="{{ path('smile_platform_profile', {'userId': comment.user.getId })  }}">
                            <img src="{{ comment.user.picture.uploadDir }}/{{ comment.user.picture.url }}"  class="comment-profile-pic">
                            <strong>{{ comment.user.username }}</strong><br>
                        </a>
                        {{ comment.text }}
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>
{% endblock %}