{% extends "SmilePlatformBundle::Default/layout.html.twig" %}

{% block openGraph %}
    <meta property="og:title" content="{{ post.title }}" />
    <!-- facebook id: {{ post.getFacebookId() }}-->
    {% if post.type=='video_youtube' %}
        <meta property="og:image" content="https://smilepaintball.com/{{ post.getThumbnails() }}" />
    {% endif %}
    {% if post.type=='video_facebook' %}
        {% if post.getFacebookId()!='' %}
            <meta property="og:image" content="https://smilepaintball.com/{{ post.getThumbnails()  }}" />
        {% endif %}
        {% if post.getFacebookId()=='' %}
            <meta property="og:image" content="http://smilepaintball.com/images/logo.png" />
        {% endif %}
    {% endif %}
    {% if post.type=='picture_facebook' %}
        <meta property="og:image" content="https://smilepaintball.com/{{ post.getThumbnails()  }}" />
    {% endif %}
    {% if post.type=='picture_externalUrl' %}
        <meta property="og:image" content="{{ post.url }}" />
    {% endif %}
    {% if post.type=='picture_local' %}
        <meta property="og:image" content="https://smilepaintball.com/{{post.picture.getUploadDir()}}/{{post.picture.url}}" />
    {% endif %}
    <meta property="og:type"   content="article" />

    <meta property="og:url" content="http://smilepaintball.com/platform/post/{{ post.id }}" />
    <meta property="article:author" content="{{ post.user.getFacebookId }}" />

    {% if post.team != null %}
        {% set teamText = " of team "~post.team.name %}
    {% else %}
        {% set teamText = "" %}
    {% endif %}

    {% if post.user.firstName and post.user.lastName %}
        <meta property="og:description" content="Posted by {{ post.user.firstName }} {{ post.user.lastName }}{{ teamText }}.  :) You too, share your paintball fun on : " />
    {% else %}
        <meta property="og:description" content="Posted by {{ post.user.username }}{{ teamText }}. :) You too, share your paintball fun on : " />
    {% endif %}

{% endblock %}

{% block pageHeader %}
    <div class="pull-right">
        <!--Smile's facebook page:
        <div class="fb-like" data-href="https://www.facebook.com/smilepaintball/?fref=ts" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
        -->
        <a href="https://www.facebook.com/groups/1790079874650463/"><button class="btn btn-register-facebook"><strong>Join our Facebook group</strong></button></a>
    </div>
{% endblock %}

{% block leftCollumn %}
    {% if firstView %}{# it shows the poster where he can share his content #}
        <div class="modal fade" id="sharePostModal" tabindex="-1" role="dialog" aria-labelledby="sharePostModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Promote your post ;)</h4>
                    </div>
                    <div class="modal-body">
                        Share your post on more than 200 social networks and websites:
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div class="addthis_inline_share_toolbox"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <script>
            $(window).load(function(){
                $('#sharePostModal').modal('show');
            });
        </script>
    {% endif %} {# end first view modal #}
    <div>
        <div>
            <a href="{{ path('smile_platform_homepage') }}"><button class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> See more fun</button></a>

        </div>
    </div>
    <div class="row" >
        <h1>{{ post.title }}</h1>

      <span id="smileApiUpvoteUrl" hidden>{{ path ('smile_api_post_upvote_url') }}</span>
        <span id="smileApiDownvoteUrl" hidden>{{ path ('smile_api_post_downvote_url') }}</span>
        <div class="text-center">
            {% if post.type=='video_youtube' %}
                <iframe  width="80%"  height="300px" ng-src="{{ post.url }}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
            {% if post.type=='video_facebook' %}
                <div class="fb-video" data-href="{{ post.url }}" data-width="700px" data-show-text="false"><blockquote cite="{{ post.url }}" class="fb-xfbml-parse-ignore"><a href="{{ post.url }}"></a>
                    </blockquote></div>
            {% endif %}
            {% if post.type=='picture_facebook' %}
                <div data-width="460px" class="fb-post" data-href="{{ post.url }}"></div>
            {% endif %}
            {% if post.type=='picture_externalUrl' %}
                <img class=" post-img"   src="{{ post.url }}" alt="">
            {% endif %}
            {% if post.type=='picture_local' %}
                <img class=" post-img"   src="/{{post.picture.getUploadDir()}}/{{post.picture.url}}" alt="">
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="">
            <div class="col-md-9 col-sm-9 col-xs-9">
                <a href="{{ path('smile_platform_profile', {'userId': post.user.getId })  }}">
                    by
                    {% if post.user.firstName and post.user.lastName %}
                        <strong>{{ post.user.firstName }} {{ post.user.lastName }}</strong><br>
                    {% else %}
                        <strong>{{ post.user.username }}</strong><br>
                    {% endif %}
                </a>
                <div>
                    {% if post.team  %}
                        <a href="/platform/team/{{ post.team.id }}">team: <strong>{{ post.team.name }}</strong></a>
                    {% endif %}
                </div>
                {% if post.eventName and post.eventName != "" %}
                    <h4>Event: {{ post.eventName }}</h4>
                {% endif %}
                <div>
                    <div class="addthis_inline_share_toolbox"></div>
                </div>
            </div>
            <div class="col-md-3  sm-hidden">
                <div class="row" id="updownVote_{{post.id}}">
                    {% if app.user %}
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="">
                                <span onclick="upvote({{ post.id }})"><img src="/images/upvote.png" class="vote-img img-responsive"></span>
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="">
                                <span onclick="downvote({{ post.id }})"><img src="/images/downvote.png" class="vote-img img-responsive"></span>
                            </a>
                        </div>
                    {% else %}
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="#" data-toggle="modal" data-target="#loginModal" class="yellow-text">
                                <span onclick="openModalConnectToVote()"><img src="/images/upvote.png" class="vote-img img-responsive"></span>
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="#" data-toggle="modal" data-target="#loginModal" class="yellow-text">
                                <span onclick="openModalConnectToVote()"><img src="/images/downvote.png" class="vote-img img-responsive"></span>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div id="upvoted_{{post.id}}" hidden>
                    upvoted ;)
                </div>
                <div id="downvoted_{{post.id}}" hidden>
                    downvoted :(
                </div>
                <div>
                    <span id="post_point_{{ post.id }}">{{ post.upvotes-post.downvotes }}</span> points, <span id="post_comment_{{ post.id }}">{{ post.comments }}</span> comments
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        this post has been seen {{ post.views }} times on SmilePaintball.com
    </div>
    <div class="row">
        <div class="col-md-11">
            <span id="postCommentUrl" hidden>{{ path('smile_api_comment_addNew') }}</span>
            <strong>Comments:</strong>
            {% if app.user %}
                <textarea class="form-control input-lg" placeholder="Your comment..." with="95%" id="textToUseToComment"></textarea><br/>
                <div class="clearfix"></div>
                <button class="btn btn-primary" onclick="sendComment({{ post.id }})">Send</button>
            {% endif %}

            <div id="sendedMessage" hidden>
                Sent ;)
            </div>
            {% for comment in comments %}
                <div class="row">
                    <a href="{{ path('smile_platform_profile', {'userId': comment.user.getId })  }}">
                        <img src="{{ comment.user.picture.uploadDir }}/{{ comment.user.picture.url }}"  class="comment-profile-pic">
                        <strong>{{ comment.user.username }}</strong><br>
                    </a>
                    {{ comment.text }}
                </div>
            {% endfor %}
        </div>
    </div>


        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-582b51a0caf3c323"></script>


    {% if not app.user %}
        <H3>To upvote, downvote, comment or post, please <a href="#" data-toggle="modal" data-target="#loginModal" class="yellow-text"><button class="btn btn-primary"><strong>log in</strong></button></a></H3>
    {% endif %}
{% endblock %}