{% extends "SmilePlatformBundle::Default/layout.html.twig" %}

{% block pageHeader %}

{% endblock %}

{% block leftCollumn %}
    {% for post in posts %}
        <div class="row" >
            <div class="col-md-7">
                {% if post.type=='video_youtube' %}
                    <iframe  width="100%"  height="300px" ng-src="{{ post.url }}" frameborder="0" allowfullscreen></iframe>
                {% endif %}
                {% if post.type=='video_facebook' %}
                    <div class="fb-video" data-href="{{ post.url }}" data-width="700px" data-show-text="false"><blockquote cite="{{ post.url }}" class="fb-xfbml-parse-ignore"><a href="{{ post.url }}"></a>
                        </blockquote></div>
                {% endif %}
                {% if post.type=='picture_facebook' %}
                    <div data-width="460px" class="fb-post" data-href="{{ post.url }}"></div>
                {% endif %}
                {% if post.type=='picture_externalUrl' %}
                    <img class="img-responsive" ng-src="{{ post.url }}" alt="">
                {% endif %}
                {% if post.type=='picture_local' %}
                    <img class="img-responsive" ng-src="{{post.picture.uploadDir}}{{post.picture.url}}" alt="">
                {% endif %}
            </div>
            <div class="col-md-5">
                <h3>{{ post.title }}</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <hr/>
    {% endfor %}
{% endblock %}

{% block rightCollumn %}
    {% if user.picture != null %}

    {% endif %}
    {{ user.username }}
    <div>
        {% if user.id == app.user.id %}
            <button class="btn btn-primary" data-toggle="modal" data-target="#editProfileModal">Edit my profile</button>
        {% endif %}
    </div>

    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="loginModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit profile</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('SmilePlatformBundle:User:editMyProfile', {'request': app.request})) }}
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{% endblock %}