{% extends "SmilePlatformBundle::Default/layout.html.twig" %}

{% block pageHeader %}
    <H1>{{ team.name }}</H1>
    {%  if team.teamPicture  %}
        <img width="100px" class="img-responsive " src="{{team.teamPicture.uploadDir}}/{{team.teamPicture.url}}" alt="{{ team.name }}">
    {%  endif %}
    {% if team.admin.id == app.user.id %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#editTeamModal">Edit team</button>
    {% else %}
        {% for user in users %}
            {% if app.user.id == user.id %}
                <a href="{{ path('smile_platform_leaveTeam', {'teamId': team.Id }) }}">
                    <button class="btn btn-primary">Leave team</button>
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
    <hr/>


    <div class="modal fade" id="editTeamModal" tabindex="-1" role="dialog" aria-labelledby="editTeamModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit team</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('SmilePlatformBundle:Team:edit', {'id': team.id, 'request': app.request})) }}
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block leftCollumn %}
    <H2>Team members:</H2>
    {% for user in users %}
        <div class="row">
            <a href="{{ path('smile_platform_profile', {'userId': user.getId }) }}">
                {% if user.picture != null %}
                    <img width="20px" class="img-responsive pull-left" src="{{user.picture.uploadDir}}/{{user.picture.url}}" alt="{{ user.username }}">
                {% endif %}
                {{ user.username }}
            </a>
        </div>
    {% endfor %}
{% endblock %}